body{
    height:2000px;
}

#tipCalculator {
    background-color: maroon;
    align-content: center;
    width: fit-content;
    margin-top: 10px;
}
#tipCalculatorBody {
    background-color: gray;
    margin: 10px;
    padding: 10px;
    width: fit-content;
}

.input-group{
    width: 250px;
}

button{
    margin-bottom: 5px;
}
/* 
#fullPage{
    background-color: purple;
    width: 100%;
} */

#message{
    color: black !important;
    height: 10%;
}